{% extends 'index.html' %} {% block title %}Customer{% endblock %} {% block content %}
<h1 class="text-center my-4">TABLE DATA CUSTOMER</h1>
<table class="table" id="myTable">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NAME</th>
      <th scope="col">LAST NAME</th>
      <th scope="col">CELLPHONE</th>
      <th scope="col">ADDRESS</th>
      <th scope="col">EMAIL</th>
    </tr>
  </thead>
  <tbody>
    {% for customer in customers %}
    <tr>
      <th scope="row">{{ customer.customer_id }}</th>
      <td>{{ customer.name }}</td>
      <td>{{ customer.last_name }}</td>
      <td>{{ customer.cellphone }}</td>
      <td>{{ customer.address }}</td>
      <td>{{ customer.email }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6">No data in customer</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
