<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Index{% endblock %}</title>
  </head>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>

  <!--datatables-->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
  <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">BreakFast Celebrate</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'customer'%}">Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'owner'%}">Owner</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'product'%}">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'order'%}">Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout'%}">logout</a>
        </li>
    </div>
  </div>
</nav>
    <div class="container">
      {% block content %}
      <h2 class="title text-center my-4">WELCOME TO BREAKFAST</h2>
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input type="file" class="form-control" id="inputGroupFile02" name="customer" required/>
          <label class="input-group-text" for="inputGroupFile02">Customer</label>
        </div>
        <div class="input-group mb-3">
          <input type="file" class="form-control" id="inputGroupFile02" name="owner" required/>
          <label class="input-group-text" for="inputGroupFile02">Owner</label>
        </div>
        <div class="input-group mb-3">
          <input type="file" class="form-control" id="inputGroupFile02" name="product" required/>
          <label class="input-group-text" for="inputGroupFile02">Product</label>
        </div>
        <div class="input-group mb-3">
          <input type="file" class="form-control" id="inputGroupFile02" name="order" required/>
          <label class="input-group-text" for="inputGroupFile02">Order</label>
        </div>
        <div class="d-flex justify-content-end">
          <input type="submit" value="generate" class="btn btn-primary" />
        </div>
      </form>
      {% endblock %}
    </div>

    <script>
      $(document).ready(function () {
        $("#myTable").DataTable();
      });
    </script>
  </body>
</html>
