<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Sign In Start -->
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh">
      <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-5">
        <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3 shadow">
          <div class="">
            <h4 class="text-primary"><i class="bi bi-journal-bookmark-fill me-2"></i>BREACKFAST_CELEBRATE</h4>
            <h3>Log In</h3>
          </div>
          <form method="POST">
            {% csrf_token %}

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="username" name="username" placeholder="Username" />
              <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating mb-4">
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" />
              <label for="floatingPassword">Password</label>
            </div>
            <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Sign In</button>
          </form>
        </div>
      </div>
    </div>
    <!-- Sign n End -->
    <div class="container-fluid pt-4 px-4">
      <div class="bg-light rounded-top p-4">
        <div class="row">
          <div class="col-12 col-sm-6 text-center text-sm-start">&copy; <a href="#">Easy Notes</a>, All Right Reserved.</div>
          <div class="col-12 col-sm-6 text-center text-sm-end">
            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
            Designed By <a href="https://htmlcodex.com">HTML Codex</a>
            <br />
            Distributed By <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
