{% extends 'index.html' %} {% block title %}Owner{% endblock %} {% block content %}
<h1 class="text-center my-4">TABLE DATA ORDERS</h1>
<table class="table" id="myTable">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">CUSTOMER</th>
      <th scope="col">OWNER</th>
      <th scope="col">PRODUCT</th>
      <th scope="col">QUANTITY</th>
      <th scope="col">ADDRESS DESTINATION</th>
      <th scope="col">CELLPHONE DESTINATION</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <th scope="row">{{ order.order_id }}</th>
      <td>{{ order.customer_id }}</td>
      <td>{{ order.owner_id }}</td>
      <td>{{ order.product_id }}</td>
      <td>{{ order.quantity }}</td>
      <td>{{ order.address_dest }}</td>
      <td>{{ order.cellphone_dest }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="8">No orders</td>
    </tr>

    {% endfor %}
  </tbody>
</table>
{% endblock %}
