{% extends 'index.html' %} {% block title %}Owner{% endblock %} {% block content %}
<h1 class="text-center my-4">TABLE DATA OWNER</h1>
<table class="table" id="myTable">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NAME</th>
      <th scope="col">LAST NAME</th>
      <th scope="col">CELLPHONE</th>
      <th scope="col">ADDRESS</th>
      <th scope="col">EMAIL</th>
    </tr>
  </thead>
  <tbody>
    {% for owner in owners %}
    <tr>
      <th scope="row">{{ owner.owner_id }}</th>
      <td>{{ owner.name }}</td>
      <td>{{ owner.last_name }}</td>
      <td>{{ owner.cellphone }}</td>
      <td>{{ owner.address }}</td>
      <td>{{ owner.email }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6">No data</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
