{% extends 'index.html' %} {% block title %}Owner{% endblock %} {% block content %}
<h1 class="text-center my-4">TABLE DATA PRODUCTS</h1>
<table class="table" id="myTable">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NAME</th>
      <th scope="col">PRICE</th>
      <th scope="col">OBSERVATIONS</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <th scope="row">{{ product.product_id }}</th>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.observations }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="8">No orders</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
